<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.decision_t">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:networkSecurityConfig="@xml/network_security_config">

        <!-- 登入頁面 -->
        <activity
            android:name=".activity_login.LoginActivity"
            android:label="@string/title_activity_login" />

        <!-- 主頁面 -->
        <activity
            android:name=".activity_table.TableActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 註冊頁面 -->
        <activity
            android:name=".activity_register.RegisterActivity"
            android:label="@string/title_activity_register"
            android:theme="@style/AppTheme" />

        <!--
        創建決策桌
        android:parentActivityName=".TableActivity" 這表示點選動作列的返回鍵會切回到 TableActivity
        -->
        <activity
            android:name=".activity_table_create.TableCreateActivity"
            android:label="新增決策桌"
            android:parentActivityName=".activity_table.TableActivity" />

        <!-- 隨機桌頁面 -->
        <activity
            android:name=".activity_r_table.R_Table_Activity"
            android:label="隨機桌名稱"
            android:parentActivityName=".activity_table.TableActivity" />

        <!-- 投票桌頁面 -->
        <activity
            android:name=".activity_v_table.V_Table_Activity"
            android:label="投票桌名稱"
            android:parentActivityName=".activity_table.TableActivity" />

        <!-- 決策桌頁面 -->
        <activity
            android:name=".activity_t_table.T_Table_Activity"
            android:label="決策桌名稱"
            android:parentActivityName=".activity_table.TableActivity" />

        <!-- 封存頁面 -->
        <activity
            android:name=".activity_archive.ArchiveActivity"
            android:label="已封存"
            android:parentActivityName=".activity_table.TableActivity" />

        <!-- 成員頁面 -->
        <activity
            android:name=".activity_member.MemberActivity"
            android:label="成員"
            android:parentActivityName=".activity_table.TableActivity" />

        <!-- 論點頁面 -->
        <activity
            android:name=".activity_t_table_tab.T_Table_Tab_Activity"
            android:label="論點頁面" />

    </application>

</manifest>